body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
}

.header-text {
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.big-heading {
  text-align: left;
}

.container-fluid {
  padding: 7% 15%;
}

.colored-section{
    background-color: #ff4c68;
}

.white-section{
    background-color: #fff;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title Section */

#title .container-fluid{
  padding: 3% 15% 7%;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 135px;
}

/* Features */
#features {
  position: relative;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  width: auto;
  height: 100px;
  border-radius: 100%;
  margin: 20px;
}

.active {
  transition: 0.45s;
}

.testimonial-text {
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing-Section */
#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 2% 3%;
}

.pricing-title {
  color: black;
  line-height: 1.5;
  font-size: 3rem;
  font-weight: 700;
}

.breed-name {
  font-weight: 700;
}

@media (max-width:1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0deg);
  }
}

/* Call to Action Section */

.footer-button {
  margin: 5% 3% 5% 0%;
}

.playstore {
  left: -4px;
  bottom: -1px;
}

.apple {
  bottom: -0.5px;
}

/* Footer-section */
.footer-item {
  margin: 20px 10px;
}
